<div class="grid">
    <div class="col-12 lg:col-4">
        <h2>&gt; Input Saldo - Giro</h2>
    </div>
</div>

<div class="grid justify-content-start lg:justify-content-end text-center">
    <div class="col-12 lg:col-5">
        <button pButton icon="pi pi-plus" pRipple type="button" label="Add Giro" (click)="showDialog('Add')" class="p-button-outlined mr-3 button-nav"></button>
        <button pButton icon="pi pi-upload" pRipple type="button" label="Export" class="p-button-outlined p-button-success button-nav"></button>
    </div>
</div>

<div class="card">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" [(ngModel)]="keyword" (keyup.enter)="searchGiroByAllCategories(keyword)" />
    </span>
    <p-table [value]="giros" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="Menampilkan {first} hingga {last} dari total {totalRecords} entri" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>No</th>
                <th>Kode Bank</th>
                <th>Nama Bank</th>
                <th>No. Rekening</th>
                <th>Saldo</th>
                <th>Tanggal</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-giro>
            <tr>
                <td>{{giro.currentAccountId}}</td>
                <td>{{giro.code}}</td>
                <td>{{giro.bankName}}</td>
                <td>{{giro.accountNumber}}</td>
                <td>{{giro.initialBalanceAccount}}</td>
                <td>{{giro.initialBalanceDate}}</td>
                <td></td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-outlined p-button-success" (click)="openEdit(giro)"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-outlined p-button-danger" style="margin-left: 7px;"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [header]="action == 'Add' ? 'Add Giro' : 'Edit Giro'" [(visible)]="display" [modal]="true"
        [style]="{ width: '50vw', height: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
        [resizable]="false" (onHide)="handleReset($event,'click')">
        <div class="grid p-fluid">
            <div class="col-12 md:col-6">
                <h5>Nama Bank</h5>
                <p-dropdown appendTo="body" [options]="banks" [(ngModel)]="row.bankId" optionLabel="bankName" optionValue="bankId" [filter]="true" filterBy="bankName" [showClear]="true" placeholder="Pilih Nama Bank">
                    <ng-template let-bank pTemplate="item">
                        <div class="bank-item">
                            <div>{{bank.code}} : {{bank.bankName}} </div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.bankName">
                    Nama Bank diperlukan!
                </h5>
            </div>
            <div class="col-12 md:col-6">
                <h5>Rekening</h5>
                <input type="number" pInputText id="accountNumber" [(ngModel)]="row.accountNumber" required="autofocus" />
                <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.accountNumber">
                    Rekening diperlukan!
                </h5>
            </div>
            <div class="col-12 md:col-6">
                <h5>Jenis Rekening</h5>
                <p-dropdown appendTo="body" [options]="accountTypes" [(ngModel)]="row.accountTypeId" optionLabel="accountTypeName" optionValue="bankId" [filter]="true" filterBy="accountTypeName" [showClear]="true" placeholder="Select a Account Type Name">
                    <ng-template let-accountType pTemplate="item">
                        <div class="accountType-item">
                            <div> {{accountType.accountTypeName}} </div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.accountName">
                    Jenis Rekening diperlukan!
                </h5>
            </div>
            <div class="col-12 md:col-6">
                <h5>Tanggal</h5>
                    <input type="date" pInputText [(ngModel)]="row.Date" inputId="time">
                <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.Date">
                   Tanggal diperlukan!
                </h5>
            </div>
            <div class="col-12 md:col-6">
                <h5>Rekening Saldo Awal</h5>
                <input type="number" pInputText id="initialBalanceAccount" [(ngModel)]="row.initialBalanceAccount" required="autofocus" />
                <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.initialBalanceAccount">
                    Rekening Saldo Awal diperlukan!
                </h5>
            </div>
            </div>
            
    <ng-template pTemplate="footer">
    <button pButton type="button" label="Save" icon="pi pi-check"></button>
    <button pButton pRipple type="button" (click)="handleReset($event, 'click')" icon="pi pi-spinner" label="Reset"
        class="mt-2 ml-1 p-button-danger"></button>
    <button pButton pRipple type="button" (click)="display=false" icon="pi pi-times" label="Cancel"
        class="mt-2 ml-1 p-button-danger"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>


