

<div class="sidebar px-3 mt-2">
    <p-accordion [multiple]="true">
        <br>

        <i class="pi pi-home" style="color: white;"></i>
        <h4 style="color: white; display: contents;">&nbsp;Dashboard</h4>
        <p-accordionTab header="Dashboard">
            <p-panelMenu [model]="itemDashboard" [style]="{'width':'100%'}"></p-panelMenu>
        </p-accordionTab>
        <br>

        <i class="pi pi-pencil" style="color: white;"></i>
        <h4 style="color: white; display: contents;">&nbsp;Input Data</h4>
        <p-accordionTab header="Input Data">
            <p-panelMenu [model]="itemInput" [style]="{'width':'100%'}"></p-panelMenu>
        </p-accordionTab>
        <br>

        <i class="pi pi-check-square" style="color: white;"></i>
        <h4 style="color: white; display: contents;">&nbsp;Approval</h4>
        <p-accordionTab header="Approval">
            <p-panelMenu [model]="itemApproval" [style]="{'width':'100%'}"></p-panelMenu>
        </p-accordionTab>
        <br>

        <i class="pi pi-cog" style="color: white;"></i>
        <h4 style="color: white; display: contents;">&nbsp;Setting</h4>
        <p-accordionTab header="Setting">
            <p-panelMenu [model]="itemSetting" [style]="{'width':'100%'}"></p-panelMenu>
        </p-accordionTab>
    </p-accordion>
    
</div>