.log-nav{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.topbar{
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #043975;
    height: 80px;
    padding: 0px 0px;
    z-index: 100;
    box-shadow: 0 0px 6px 0px rgb(0 0 0 / 12%);
}

.topbar-upper{
    color: white;
    width: 100%;
    margin: 0;
    height: 35%;
}

.topbar-lower{
    color: #043975;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    width: 100%;
    margin: 0;
    height: 65%;
}

.topbar img {
    height: 50px;
}