<div>
    <div class="col-12 lg:col-4">
        <h2>&gt; Penampungan</h2>
    </div>
<div class="grid">
    <div class="col-12 md:col-8 flex align-items-center justify-content-center filter-up">
        <p-card class="w-full"><i class="pi pi-filter"></i> Filter
            <div class="filter">
                Date Period
                &nbsp;&nbsp;
                <label for="startDate"></label>
                <input type="date" dateFormat="yy-mm-dd" pInputText [(ngModel)]="startDate">
                <!-- <p-calendar [(ngModel)]="startDate" id="date" dateFormat="yy-mm-dd" dateTime="yy-mm-dd" [readonlyInput]="true" inputId="startDate"></p-calendar> -->
                - 
                <label for="endDate"></label>
                <input type="date" dateFormat="yy-mm-dd" pInputText [(ngModel)]="endDate">
                <!-- <p-calendar [(ngModel)]="endDate" dateFormat="yy-mm-dd"></p-calendar> -->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="pi pi-building"style="font-size: 20px;">&nbsp;Bank</i>
                &nbsp;&nbsp;
                <p-dropdown appendTo="body" [options]="opt" 
                placeholder="Bank" >
                </p-dropdown> 
                &nbsp;&nbsp;&nbsp;&nbsp;
                <p-button icon="pi pi-search" (onClick)="getData()"></p-button>
            </div>
        </p-card>
    </div>
    <div class="col-12 md:col-4 flex align-items-center justify-content-center filter">
    <p-card class="w-full bgblue">
        <i class="pi pi-wallet"></i>&nbsp;Total Penampungan
        <div class="card-label">    
            {{totals}}
        </div>
    </p-card>
    </div>

    <div class="col-12 md:col-12 flex align-items-center justify-content-center">
    <p-card class="w-full">
        <i class="pi pi-calendar-plus" style="font-size: 20px; margin-bottom: 20px;">&nbsp;Transaksi Rekening Penampungan per Bank</i>
        <div style="align-content: center; align-items: center;">
            <p-chart type="pie" [data]="data" [responsive]="true" width="300px"></p-chart></div>
        <div>
        <span class="p-input-icon-left mt-2 ml-3" [style]="{ float: 'right' }">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="keyword">
            <p-button type="button" icon="pi pi-search" (onClick)="Search()" styleClass="p-button-text p-btn-primary" label="Search"></p-button>
        </span>
        </div>
        <br><br><br>
        <div>
        <p-table [value]="approved" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
        responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th>No</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Total</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-approved>
            <tr>
                <td></td>
                <td>{{approved.code}}</td>
                <td>{{approved.bankName}}</td>
                <td>{{approved.value}}</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
    </p-card>
</div>
</div>
</div>

