<body>
    <div class="container px-0" (keyup.enter)="login()">
        <div class="grid justify-content-center">
          <div class="col-12 md:col-6 login">
            <div class="grid login">
              <div class="col-12 image-header bg-img">
                  <img
                  src="https://pict.sindonews.net/dyn/620/pena/news/2022/04/19/178/747781/saktinya-kebijakan-cemumuah-bi-bakal-dongkrak-nilai-transaksi-digital-banking-rp51729-triliun-jel.jpg">
              </div>
              <div class="col-12 lg:col-4">
                <!-- <label for="username" class="block">Username</label> -->
                <input type="text" pInputText [(ngModel)]="username" placeholder="username">
              </div>
              <div class="col-12 lg:col-4">
                <!-- <label for="password" class="block">Password</label> -->
                <p-password type="password" placeholder="password" [(ngModel)]="password" [toggleMask]="true" [feedback]="false" id="password" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                </p-password>
              </div>
              <div class="col-12 lg:col-4 log-b">
                <button pButton pRipple type="button" label="LOGIN" (click)="login()"></button>
              </div>
            </div>
            <div class="grid button">
              <div class="col-12 lg:col-6 forgot">
                <p><a routerLink="">Forgot Password ?</a></p>
              </div>
              <div class="col-12 lg:col-6 justify-content-end">
                <div class="field-checkbox checked">
                    <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                    <label for="binary">Keep Me Logged In</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
<p-toast position="top-center" key="tc"></p-toast>