:host ::ng-deep body{
height: 100%;
margin: 0px;
background-image: linear-gradient(180deg, white,rgb(230, 251, 230));
}

:host ::ng-deep .container {    
  padding: 50px;
  padding-bottom: 90px;
}
  
  :host ::ng-deep img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  
  :host ::ng-deep .image-header {
    padding: 0;
  }
  
  :host ::ng-deep input[type="text"] {
    width: 100%;
  }
  
  :host ::ng-deep input[type="password"] {
    width: 100%;
  }

  :host ::ng-deep .grid > .col, .grid > [class*=col] {
    color: gray;
    background-color: white;
    border-radius: 20px;
  }
  
  :host ::ng-deep .button {
    margin-top: 5px;
  }
  
  :host ::ng-deep .p-button {
    width: 100px;
  }
  
  :host ::ng-deep a {
    text-decoration: none;
    color: gray;
    background-color:#eeeeee;
    padding: 5px;    
    border: #eeeeee;
    border-radius: 5px;
  }
  
  :host ::ng-deep p {
    margin: 0 auto;
  }

  
  @media screen and (max-width: 480px) {
  
  }
  