
<body>
    <div class="container">
        <div class="grid justify-content-center">
          <div class="col-12 md:col-6 login">
            <div class="grid login">
              <div class="col-12 image-header bg-img">
                  <img
                  src="http://localhost:50492/assets/img/login-img.jpeg">
              </div>
              <div class="col-12 lg:col-5">
                <!-- <label for="username" class="block">Username</label> -->
                <input type="text" pInputText [(ngModel)]="username" placeholder="username">
              </div>
              <div class="col-12 lg:col-5">
                <!-- <label for="password" class="block">Password</label> -->
                <p-password type="password" placeholder="password" [(ngModel)]="password" [toggleMask]="true" [feedback]="false" id="password" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
                </p-password>
              </div>
              <div class="col-12 lg:col-1 log-b">
                <p-button label="Submit"></p-button>
              </div>
            </div>
            <!-- <ng-template pTemplate="footer"> -->
            <div class="grid button">
              <div class="col-12 lg:col-6 forgot">
                <p><a>Forgot Password ?</a></p>
              </div>
              <div class="col-12 lg:col-6 justify-content-end texta keep">
                <div class="field-checkbox">
                    <p-checkbox [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox>
                    <label for="binary">Keep Me Logged In</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
