:host ::ng-deep .container {
    padding-top: 20px;
  }
  
  :host ::ng-deep img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  
  :host ::ng-deep .image-header {
    padding: 0;
  }
  
  :host ::ng-deep input[type="text"] {
    width: 100%;
  }
  
  :host ::ng-deep input[type="password"] {
    width: 100%;
  }
  
  :host ::ng-deep .grid > .col, .grid > [class*=col] {
    color: gray;
    background-color: darkslateblue;
    border-radius: 20px;
  }
  
  :host ::ng-deep .button {
    margin-top: 5px;
  }
  
  :host ::ng-deep .p-button {
    width: 100px;
  }
  
  :host ::ng-deep a {
    text-decoration: none;
    color: aqua;
  }
  
  :host ::ng-deep p {
    margin: 0 auto;
  }

  
  @media screen and (max-width: 480px) {
  
  }
  