<div class="container">

    <div class="grid justify-content-center">
      <div class="col-12 md:col-6 login">
        <div class="grid login">
          <div class="col-12 image-header bg-img">
              <img
              src="https://pict.sindonews.net/dyn/620/pena/news/2021/06/30/178/470602/ini-tips-mengembangkan-digital-banking-dari-sang-ekonom-milenial-nde.jpg">
          </div>
          <div class="col-12 lg:col-6">
            <label for="username" class="block">Username</label>
            <input type="text" pInputText [(ngModel)]="username">
          </div>
          <div class="col-12 lg:col-6">
            <label for="password" class="block">Password</label>
            <p-password type="password" [(ngModel)]="password" [toggleMask]="true" [feedback]="false" id="password" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
            </p-password>
          </div>
        </div>
        <!-- <ng-template pTemplate="footer"> -->
        <div class="grid button">
          <div class="col-12 lg:col-12">
            <p-button label="Login" icon="pi pi-sign-in"></p-button>
          </div>
          <div class="col-12 lg:col-12">
            <p>Don't have an account?<a routerLink="/signup"> Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  