<div class="grid">
    <div class="col-12 lg:col-4">
        <h2>&gt; Approval Utama</h2>
    </div>
</div>

<div class="grid justify-content-start lg:justify-content-end text-center">
    <div class="col-12 lg:col-3">
        <button pButton icon="pi pi-upload" pRipple type="button" label="Export" class="p-button-outlined p-button-success button-nav"></button>
    </div>
</div>

<div class="card">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" (ngModel)="searchVal" (keyup.enter)="loadData(page)" />
    </span>
    <p-table [value]="data" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Bank</th>
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Transaction Date</th>
                <th>Value</th>
                <th>Purchase</th>
                <th>Fund Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-point>
            <tr>
                <td>{{point.mainId}}</td>
                <td>{{point.bankName}}</td>
                <td>{{point.accountNumber}}</td>
                <td>{{point.accountTypeName}}</td>
                <td>{{point.transactionDate}}</td>
                <td>{{point.value}}</td>
                <td>{{point.purchaseName}}</td>
                <td>{{point.fundName}}</td>
                <td>{{point.description}}</td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-outlined p-button-success"></button>
                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-outlined p-button-success"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



