.card-label {
    font-size: 42px;
    font-weight: 700;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

:host ::ng-deep .filter {
    /* position: absolute; */
    top: 30px;
    left: 0px;
    /* z-index: 999; */
}

:host ::ng-deep .nopad .p-card .p-card-body {
    background-color: #95bff590;
    padding: 6px 1rem;
}

:host ::ng-deep .nopad2 .p-card .p-card-body {
    padding: 6px 1rem;
}

.logobank {
    border: 1px solid #efefef;
    border-radius: 4px;
    margin-top: -3px;
    margin-right: 3px;
}

:host ::ng-deep .bggreen .p-card .p-card-body {
    background-color: #95f59590;
}

:host ::ng-deep .bgblue .p-card .p-card-body {
    background-color: #95bff590;
}

:host ::ng-deep .bgyellow .p-card .p-card-body {
    background-color: #f5f29590;
}

:host ::ng-deep .txtsaldo{
    font-size: 30px;
}